{% extends 'bdj/base.html' %}
{% load bdj_tags %}

{% block content %}
  <h2>
    <a role="button"
       href="{% url "food-place-group-update" group.id %}"
       class="btn btn-outline-info">
      <i class="material-icons">settings</i>
    </a>
    {{ group }}
  </h2>
  <hr>

  <nav class="navbar navbar-light justify-content-center mt-8" >
    <form class="form-inline">
      <i class="material-icons md-48" style="font-size: 32px !important;">search</i>
      <input class="form-control form-control-lg"
             type="search"
             placeholder="search ..."
             aria-label="Search"
             id="search">
    </form>
  </nav>

  <div class="card-deck">
    {% for food_place in objects %}
      <div class="food-place" data-food-place-id="{{ food_place.id }}">
        {% render_food_place food_place %}
      </div>
    {% endfor %}
  </div>

{% endblock %}


{% block post_js %}
  <script>
      $(document).ready(function () {
          $(".food-place").each(
              function (key, value) {
                  let foodPlaceId = $(value).attr("data-food-place-id")
                  let cardElement = $(value).find("div.card-body").find("div.carousel-inner")
                  loadFoodPlacePosts("{% url "load-food-place" %}", cardElement, foodPlaceId)
              }
          )
      });
  </script>
{% endblock %}