{% extends 'bdj/base.html' %}
{% load bdj_tags %}

{% block content %}

  <div class="row">
    <div class="col">
      <h1>
        <a role="button"
           href="{% url "food-place-group-update" group.id %}"
           class="btn btn-outline-info">
          <i class="material-icons">settings</i>
        </a>
        {{ group }}
      </h1>
    </div>

    <div class="col">
      <form class="form">
        {#    <i class="material-icons md-48" style="font-size: 32px !important;">search</i>#}
        <input class="form-control form-control-lg"
               type="search"
               placeholder="search ..."
               aria-label="Search"
               id="search">
      </form>
    </div>
  </div>

  <div class="card-deck">
    {% for food_place in objects %}
      <div class="food-place" data-food-place-id="{{ food_place.id }}">
        {% render_food_place food_place %}
      </div>
    {% endfor %}
  </div>

{% endblock %}


{% block post_js %}
  <script>
      $(document).ready(function () {
          $(".food-place").each(
              function (key, value) {
                  let foodPlaceId = $(value).attr("data-food-place-id")
                  let cardElement = $(value).find("div.card-body").find("div.carousel-inner")
                  loadFoodPlacePosts("{% url "load-food-place" %}", cardElement, foodPlaceId)
              }
          )
      });
  </script>
{% endblock %}