{% extends 'bdj/base.html' %}
{% load bdj_tags %}

{% block content %}

  <div class="row">
    <div class="col">
      <h1>
        <button
            onclick="loadPosts()"
            class="btn btn-outline-info">
          <i class="material-icons">refresh</i>
        </button>
        <button id="auto-load-posts-button"
                class="btn btn-outline-info"
                data-toggle="button"
                aria-pressed="false">
          <i class="material-icons">update</i>
        </button>

        <a role="button"
           href="{% url "food-place-group-update" group.id %}"
           class="btn btn-outline-info">
          <i class="material-icons">settings</i>
        </a>
        {{ group }}
      </h1>
    </div>

    <div class="col">
      <form class="form">
        <input class="form-control form-control-lg"
               type="search"
               placeholder="search ..."
               aria-label="Search"
               id="search">
      </form>
    </div>
  </div>

  <div class="card-deck">
    {% for food_place in objects %}
      <div class="food-place" data-food-place-id="{{ food_place.id }}">
        {% render_food_place food_place %}
      </div>
    {% endfor %}
  </div>

{% endblock %}


{% block post_js %}
  <script>

      document.autoPostLoadIntervalId = null

      function loadPosts() {
          $(".food-place").each(
              function (key, value) {
                  let foodPlaceId = $(value).attr("data-food-place-id")
                  let cardElement = $(value).find("div.card-body").find("div.carousel-inner")
                  loadFoodPlacePosts("{% url "load-food-place" %}", cardElement, foodPlaceId)
              }
          )
      }

      function countFreshPosts() {
          loadPosts();
          let numFreshPosts = $(".fresh-post").length;
          document.title = `(${numFreshPosts}) BDJ`;
      }


      $(document).ready(function () {

          $("#auto-load-posts-button").click(function () {
              if ($(this).hasClass("active")){
                  clearInterval(document.autoPostLoadIntervalId);
                  document.autoPostLoadIntervalId = null;
                  console.log("STOP")
              }else{
                  console.log("START")
                  document.autoPostLoadIntervalId = setInterval(countFreshPosts, 1000 * 60 * 5);
              }
          })
          loadPosts();
      });

  </script>
{% endblock %}